.linePercent {
    position: relative;
    height: 10px;
    background-color: #dee2e6;
    border-radius: 999px;
    overflow: hidden;
}


.linePercent::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--percent);
    background-color: #0d6efd;
    border-radius: 999px;
    transition: width 0.4s ease;
    z-index: 2;
}
