/* From Uiverse.io by Praashoo7 */ 
/* CodePen Card */



.fl {
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  transition: .2s ease-in-out;
}

.fl:hover .fullscreen {
  scale: 1.2;
}

.fl:hover .fullscreen_svg {
  fill: white;
}

.main:hover .fl {
  opacity: 1;
  cursor: pointer;
  margin-right: 0.5em;
}

.data {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

.imgCard img {
  width: 2.25em;
  height: 2.25em;
  border-radius: 5px;
  overflow: hidden;
}

.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 0.5em;
  font-family: Montserrat;
  color: white;
}

.text_m {
  font-weight: bold;
  font-size: 0.1rem;
}

.text_s {
  font-size: 0.1rem;
}

.btns {
  transition: .2s ease-in-out;
}

.tag {
  max-height: 1.5rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-top: -1em;
  opacity: 0;
  transition: .2s ease-in-out;
}

.tag_text {
  font-family: Montserrat;
  font-size: 0.8em;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 6rem; /* bisa kamu sesuaikan */
  display: inline-block; /* wajib supaya max-width berfungsi */
}



.main:hover .tag {
  margin-top: 0;
  margin-bottom: 0.5rem;
  opacity: 1;
}

