.modal-backdrop-custom {
  position: fixed;
  inset: 0;
  z-index: 1050;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-open {
  overflow: hidden;
}

.custom-modal-content {
  border-radius: 1rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  animation: fadeInScale 0.3s ease-out;
}

/* Untuk dark mode switch */
.modal-open .bg-dark .btn-close {
  filter: invert(1);
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
