.github-repo-card {
border-radius: 1rem;
border: 1px solid #e1e4e8;
background-color: #ffffff;
transition: box-shadow 0.3s ease, transform 0.3s ease;
min-height: 12rem;
margin: auto;
cursor: pointer;
overflow: hidden; /* tambahkan untuk kontrol konten */
}


.github-repo-card:hover {
box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12) !important;
transform: translateY(-2px);
}

.repo-link {
color: #0366d6;
text-decoration: none;
font-weight: 600 !important;
display: inline-block;
word-break: break-word;
margin-right: 1rem;
white-space: normal;
max-width: 100%; /* pastikan cukup ruang */
}


.repo-link:hover {
text-decoration: underline;
}

.stats-icons > div {
display: flex;
align-items: center;
}

.card-text {
display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
overflow: hidden;
transition: max-height 0.6s ease;
max-height: 1.2rem;
}

.github-repo-card:hover .card-text {
-webkit-line-clamp: unset;
max-height: 10em;
}

.badge-container {
    overflow: hidden;
    max-height: 1.6rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all 0.4s ease;
}

.github-repo-card:hover .badge-container {
    max-height: 10em;
    white-space: normal;
}
