.github-carousel-wrapper {
    height: 43rem;
}

.navGithub {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    background-color: var(--primary);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navGithub:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.fade-card {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInCard 0.5s ease forwards;
}

@keyframes fadeInCard {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navGithub.left {
    left: -4rem;
}

.navGithub.right {
    right: -4rem;
}


.slide-animation {
    animation: slideIn 0.4s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateX(25px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-indicators {
    margin-top: 12px;
}

.indicator-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1rem 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.indicator-dot.active {
    background-color: #007bff;
}

@media screen and (max-width: 480px) {
    .github-carousel-wrapper {
        height: 100%;
    }
    .navGithub {
        position: absolute;
        top: 100%;
        transform: translateY(-60%);
        z-index: 5;
        background-color: var(--primary);
        border: none;
        color: white;
        font-size: 2rem;
        padding: 0 0.8rem;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .navGithub.left {
        left: 0;
    }

    .navGithub.right {
        right: 0;
    }
}