
.cat-item {
    transition: box-shadow 0.3s ease;
}

.cat-item:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

/*** Category ***/
.cat-item div {
    background: #FFFFFF;
    border: 1px #0d6efd;
    transition: .5s;
}

.cat-item:hover div {
    border-color: transparent;
}

.cat-item div * {
    transition: .5s;
}

.cat-item:hover div * {
    color: #0d6efd !important;
}
